/* ? like hard make simple */
@import url('../stylesDev/style.css');

/* ?                                                     HEADER                                             */

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 22px;
    z-index: 100;
}

.languages_list{
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: flex-end;
}

.languages_item{
    cursor: pointer;
    display: inline-block;
    font-size: var(--fs14);
    line-height: var(--line20);
}

.language-active{
    padding: 2px 4px;
    border-radius: 12px;
    color: var(--color_blue);
    background-color: var(--color_white);
}

.en{
    color: var(--color_marengo);
}

/* ?                                                             HERO                                                */

.hero{
    height: 100vh;
    max-height: 671px;
    margin-bottom: 115px;
    background-color: var(--bg_blue);
}

.hero_container{
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    z-index: 10;
}

.hero_top{
    display: flex;
    justify-content: space-between;
}

.hero_body{
    padding-top: 122px;
    display: inline-flex;
    flex-flow: column;
    margin-bottom: 197px;
    transform: translate(0, -5000px);
}

.hero_title{
    margin-bottom: 11px;
    font-weight: var(--fw700);
}

.hero_title span{
    padding: 2px 12px;
    border-radius: 20px;
    color: var(--color_blue);
    background: var(--color_white);
}

.hero_subtitle{
    max-width: 350px;
    margin-bottom: 38px;
    font-size: var(--fs22);
    line-height: var(--line29);
    color: var(--color_marengo);
}

.hero_btn{
    font-size: var(--fs18);
    font-weight: var(--fw500);
    line-height: var(--line25);
}

.hero_image{
    position: absolute;
    top: 0;
    right: -17%;
    z-index: -1;
    transform: translate(3000px, 0);
}

/* ?                                                  PRODUCT                                            */

.product{
    margin-bottom: 120px;
}

.product_title{
    max-width: 590px;
    text-align: center;
    margin: 0 auto 44px;
}

.blue{
    color: var(--color_blue);
}

.product_list{
    display: flex;
    column-gap: 20px;
}

.product_item{
    flex: 1 1 auto;
    padding: 0 20px 0 30px;
    display: flex;
    column-gap: 20px;
    border-radius: 30px;
    overflow: hidden;
    justify-content: space-between;
    color: var(--color_black);
    background-color: var(--bg_white);
}

.product_name{
    padding-top: 37px;
    max-width: 190px;
    margin-bottom: 12px;
    font-weight: var(--fw600);
    font-size: var(--fs20);
    line-height: var(--line28);
}

.product_subtitle{
    max-width: 210px;
}

.product_image{
    transform: translate(0, 12px);
}

.product_image img{
    max-width: 218px;
    height: 291px;
    border-radius: 12px;
    object-fit: cover;
    filter: drop-shadow(8px -8px 16px rgba(0, 0, 0, 0.06));
}


/* ?                                                                     FOOTER                                                          */

.footer{
    margin-bottom: 35px;
}

.footer_title{
    max-width: 500px;
    margin-bottom: 21px;
}

.footer_subtitle{
    max-width: 405px;
    margin-bottom: 37px;
}

.footer_container{
    display: flex;
    column-gap: 40px;
}

.footer_list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(150px, 231px));
}

.footer_item{
    display: flex;
    flex-flow: column;
    row-gap: 13px;
    padding: 20px;
}

.footer_item:nth-child(2){
    padding: 20px 0 20px 20px;
}

.footer_descr{
    color: var(--color_marengo);
}

.value_icon svg,
.value_icon{
    max-width: 40px;
    max-height: 40px;
}


/* ?                                                                     MEDIA                                          */


/* ? sections */

@media(max-width: 768px) {
    .hero{
        margin-bottom: 60px;
    }
    
    .product{
        margin-bottom: 60px;
    }
}

@media(max-width: 425px) {
    .hero{
        margin-bottom: 30px;
    }
    
    .product{
        margin-bottom: 30px;
    }
}






/* ? HERO */

@media(max-width: 910px) {
    .advantages_item{
        padding: 15px;
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    .hero_image{
        right: -30%;
    }
}

@media(max-width: 802px) {
    .hero{
        height: 100%;
        max-height: 100%;
    }
    .advantages_list{
        gap: 20px;
        margin-bottom: 33px;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
    .advantages_item{
        padding: 22px 20px 30px;
        flex-direction: unset;
    }
}

@media(max-width: 760px) {
    .hero_container{
        padding: 0 60px;
    }
    .hero_top{
        flex-direction: column-reverse;
    }
    .hero_image{
        position: static;
    }
    .hero_image img{
        max-width: max-content;
    }
    .hero_body{
        transform: translate(0px, -70px);
        padding-top: 0;
        margin-bottom: 0px;
    }
    .hero_subtitle{
        max-width: 100%;
    }
}

@media(max-width: 656px) {
    .hero_image{
        transform: translate(-50px, 0);
    }
}

@media(max-width: 598px) {
    .hero_subtitle{
        margin-bottom: 15px;
    }
    .advantages_item{
        padding: 5px 20px 15px;
        flex-direction: column-reverse;
        row-gap: 15px;
    }
}

@media(max-width: 520px) {
    .hero_container{
        padding: 0 15px;
    }
    .hero_body{
        transform: translate(0, -35px);
    }
    .hero_image{
        transform: translate(0, 0);
    }
    .hero_image img{
        max-width: 550px;
    }
}

@media(max-width: 430px) {
    .hero_title{
        font-size: var(--fs38);
        line-height: var(--line29);
    }
    .hero_subtitle{
        font-size: var(--fs16);
        line-height: var(--line20);
    }
    .hero_btn{
        max-width: 100%;
    }
    .advantages_item{
        padding: 0 0 20px 20px;
    }
    .advantages_text{
        font-size: var(--fs14);
        line-height: var(--line20);
    }
}

@media(max-width: 400px) {
    .hero_image {
        transform: translate(-25px, 0);
    }
}

@media(max-width: 360px) {
    .advantages_list{
        grid-template-columns: 1fr;
    }
    .advantages_text,
    .advantages_item:nth-child(3) .advantages_text {
        max-width: 200px;
    }
    .hero_image {
        transform: translate(0, 0);
    }
    .hero_image img{
        max-width: 450px;
    }
}

/* ? PRODUCT */

@media(max-width: 970px) {
    .product_list{
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }   
}

@media(max-width: 768px) {
    .product_item{
        flex-direction: column;
        align-items: center;
    }
    .product_body{
        text-align: center;
    }
    .product_name,
    .product_subtitle{
        max-width: 100%;
    }
}

@media(max-width: 570px) {
    .product_title{
        font-size: var(--fs22);
        line-height: var(--line29);
    }
    .product_list{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .product_item{
        flex-direction: row;
        align-items: flex-start;
    }
}

@media(max-width: 492px) {
    .product_item{
        padding: 0 5px 0 10px;
        flex-direction: column;
        align-items: center;
    }

}

/* ? footer */

@media(max-width: 768px) {
    .footer_container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 32px;
    }
    .footer_subtitle{
        margin: 0 auto 27px;
    }
    .footer_list{
        gap: 15px;
    }
    .footer_item{
        border-radius: 20px;
        box-shadow: 6px 4px 12px rgba(0, 0, 0, 20%);
        background: var(--color_white);
    }
    .footer_descr{
        text-align: left;
    }
}

@media(max-width: 570px) {
    .footer_title{
        font-size: var(--fs22);
        line-height: var(--line29);
    }
}

@media(max-width: 420px) {
    .footer_btn{
        max-width: 100%;
        width: 100%;
    }
}